.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loader.gif) no-repeat center center rgb(249, 249, 249);
}

#loadingBg {
	position: fixed;
	top: 0;
	z-index: 999999;
	pointer-events: none;
}

.navbar-default {
	background-color: #152737;
	border-radius: 0;
	margin-bottom: 0;
	padding-top: 40px;
	border: none;

	
    .navbar-nav {
    	padding-top: 6px;
    	width: 100%;
    	text-align: center;
    	font-family: 'Roboto Condensed';
    	font-size: 20px;
    	text-transform: uppercase;
    	-webkit-animation-delay: 1.7s;
    	animation-delay: 1.7s;

    	li {
    		float: none;
	    	color: #fff;
	    	display: inline-block;
	    	margin-right: 30px;

    	a {
	    	position: relative;
	    	color: #fff;
	    	text-decoration: none;
    	}

    	a:hover {
    		color: #fff;
    	}

    	a:visited {
    		color: #fff;
    	}
    }

    }

    a:before {
    	content: "";
    	position: absolute;
    	width: 100%;
    	height: 2px;
    	bottom: 0;
    	left: 0;
    	background-color: @brand-secondary;
    	visibility: hidden;
    	-webkit-transform: scaleX(0);
  		transform: scaleX(0);
  		-webkit-transition: all 0.3s ease-in-out 0s;
  		transition: all 0.3s ease-in-out 0s;
    }

	a:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
  		transform: scaleX(1);
	}

	.navbar-right {

		.btn {
			position: absolute;
			top: 40px;
			right: 50px;
	    	border: 2px solid @brand-secondary;
	    	text-transform: uppercase;
	    	-webkit-animation-delay: 2s;
	    	animation-delay: 2s;
	    	background-color: @brand-primary;
	    	border-radius: 8px;
	    	font-family: 'Roboto Condensed';
	    	font-size: 20px;
	    }

    	.btn:hover {
			background-color: @brand-secondary;

    	}	

    	a {
    		color: @brand-secondary;
    	}

    	a:hover {
    		color: #fff;
    		text-decoration: none;
    	}

    	a:hover:before {
    		visibility: hidden;;
    	}


	}

	.navbar-toggle {
		border: none;

		.icon-bar {
			width: 40px;
			height: 3px;
			background-color: @brand-secondary;
		}

		
	} 

	.navbar-toggle:hover {
		background-color: @brand-secondary;

		.icon-bar {
			background-color: @brand-primary;
		}
	}

	.icon-bar + .icon-bar {
    	margin-top: 10px;
  	}

}

.jumbotron { 

    h2 {
    	text-transform: uppercase;
    	color: #fff;
    	margin-top: 30px;
    	margin-bottom: 30px;
    	font-size: (@font-size-base*3.5);
    	-webkit-animation-delay: 1.6s;
    	animation-delay: 1.6s;
    }
}

.jumbotron-hero {
	padding-top: 150px;
	background-color: @brand-primary;
	width: 100%;
	height: 100%;
	background-size: cover;
	overflow: hidden;
	margin-bottom: 0;
}

.network {
    	width: 100%;
    	height: 160px;
    	margin-top: 70px;
    	background-image: url(../img/beehive.svg), radial-gradient(200px 500px at center, @brand-secondary 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0));
    	background-size: 100%, 50% 100%;
    	background-position: 0 60%, 0 100%;
    	-webkit-animation: move 5s linear infinite;
    	animation: move 5s linear infinite;
}

@keyframes move {
	0% {
		background-position: 0 60%, 0 50%;
	}
	100% {
		background-position: 0 60%, 100% 50%;
	}
}

@-webkit-keyframes move {
	0% {
		background-position: 0 60%, 0 50%;
	}
	100% {
		background-position: 0 60%, 100% 50%;
	}
}

.jumbotron-about {
	padding-top: 0;
	background-color: lighten(@brand-primary, 80%);

	h2 {
		color: @brand-primary;
		margin-bottom: 20px;
		margin-top: 60px;
		text-decoration: underline @brand-secondary;
	}

	h3 {
		text-transform: uppercase;
		color: @brand-primary;
	}

	span {
		border-bottom: 3px solid @brand-secondary;
	}

	img {
		margin-top: 40px;
	}

	.col-sm-4 {
		padding-left: 40px;
		padding-right: 40px;
	}

}

/* Disable animate.css on small devices */
@media only screen and (max-width : 768px) {
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}


